
<nav class="navbar navbar-expand-lg fixed-top navbar-govco navbar-container">
  <div class="container-fluid">
    <div class="navbar-logo">
      <a class="navbar-brand" href="http://190.60.233.154/">
        <img src="https://cdn.www.gov.co/assets/images/logo.png" width="auto" height="30" alt="Logo Gov.co">
      </a>
    </div>

    <div class="d-flex justify-content-around">
      <div class="p-2">
        <a href="/" class="btn btn-round btn-middle btn-header">INICIAR SESIÓN</a>
      </div>
      <div class="p-2">
        <a href="/" class="btn btn-round btn-middle btn-header">CARPETA CIUDADANA</a>
      </div>
      <div class="p-2">
        <div class="form-inline form-search-bar d-flex btn-middle-search">
          <input class="form-control  search-navbar"
          type="search"
          placeholder="Buscar">
          <span class="govco-icon govco-icon-search-cn"></span>
        </div>
      </div>
    </div>
  </div>
    <div class="nav-secondary govco-content " id="nav-secondary">
      <div class="container">
        <div class="navbar-menu">
          <ul class="navbar-nav ml-auto mr-auto ">
            <li class="nav-item">
              <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Trámites y servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tu opinión cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Entidades</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Portal territorial</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre nosotros</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

</nav>

