<footer class="page__footer fixed-bottom">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="fw-bold mb-4 footer-text">
            Servicios
          </h5>
          <p>
            <a href="#" class="footer-text">Trámites y servicios</a>
          </p>
          <p>
            <a href="#" class="footer-text">Entidades</a>
          </p>
          <p>
            <a href="#" class="footer-text">Sobre nosotros</a>
          </p>
          <p>
            <a href="#" class="footer-text">Urna de cristal</a>
          </p>
          <p>
            <a href="#" class="footer-text">Portal territorial</a>
          </p>
          <p>
            <a href="#" class="footer-text">Datos abiertos</a>
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="fw-bold mb-4 footer-text">
            Contacto
          </h5>
          <p class="footer-text">
            Nacional: 01 8000 95 2525
          </p>
          <p class="footer-text">
            Bogotá +57 (1) 390 7950
          </p>
          <p class="footer-text">
            Línea anticorrupción: 01 8000 91 2667
          </p>
          <p class="footer-text">
            Edificio Murillo Toro Carrera 8a. Entre calles 12A y 12B, Bogotá, Colombia - Código postal 111711
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <div class="row mb-3">
            <span class="col-sm-2 govco-icon govco-icon-callin-cn footer-icon"></span>
            <div class="col-sm-10">
              <a href="#" class="footer-text">Llamada web</a>
            </div>
          </div>

          <div class="row mb-3">
            <span class="col-sm-2 govco-icon govco-icon-callback-cn footer-icon"></span>
            <div class="col-sm-10">
              <a href="#" class="footer-text">Solicita una llamada</a>
            </div>
          </div>

          <div class="row mb-3">
            <span class="col-sm-2 govco-icon govco-icon-message footer-icon"></span>
            <div class="col-sm-10">
              <a href="#" class="footer-text">Hablemos en línea</a>
            </div>
          </div>

          <div class="row mb-3">
            <span class="col-sm-2 govco-icon govco-icon-email-cn footer-icon"></span>
            <div class="col-sm-10">
              <a href="#" class="footer-text">oporteccc@mintic.gov.co</a>
            </div>
          </div>

        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <div class="row mb-3">

            <span class="fa-stack col-sm-2">
              <i class="fa fa-circle-thin fa-stack-2x footer-icon"></i>
              <i class="fa fa-facebook fa-stack-1x footer-icon"></i>
            </span>
            <div class="col-sm-10">
              <a href="#" class="footer-text">Síguenos en Facebook</a>
            </div>
          </div>

          <div class="row mb-3">

            <span class="fa-stack col-sm-2">
              <i class="fa fa-circle-thin fa-stack-2x footer-icon"></i>
              <i class="fa fa-twitter fa-stack-1x footer-icon"></i>
            </span>

            <div class="col-sm-10">
              <a href="#" class="footer-text">Síguenos en Twitter</a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container text-center text-md-start mt-5">
      <div class="row mb-3">
        <div class="col-2 text-center">
          <a href="#" class="footer-text">Términos y condiciones</a>
        </div>
        <div class="col-2 text-center">
          <a href="#" class="footer-text">Mapa del sitio</a>
        </div>
        <div class="col-2 text-center">
          <a href="#" class="footer-text">Política de privacidad y tratamiento de datos</a>
        </div>
        <div class="col-2 text-center">
          <a href="#" class="footer-text">Política de derechos de autor</a>
        </div>
        <div class="col-4 d-flex justify-content-around align-items-center">
          <div class="col-6">
            <img class="img-fluid gov-icon rounded mx-auto d-block" src="https://www.gov.co/uploads/53cb9900-1f6d-4d95-81a1-02e02efbe3be.svg" alt="">
          </div>
          <div class="col-6">
            <img class="img-fluid co-icon rounded mx-auto d-block" src="https://www.gov.co/uploads/23c08fdb-7970-420c-a556-c3af1802ef58.svg" alt="">
          </div>
        </div>

      </div>
    </div>
</footer>



